*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(/img/bg-loginSignup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.container-all{
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
    margin-bottom: 8%;
}

.box-back{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #eae1c7ce ;

}

.box-back div{
    margin: 100px 40px;
    color: black;
    transition: all 500ms;
}


.box-back div p,
.box-back button{
    margin-top: 30px;
}

.box-back div h3{
    font-weight: 400;
    font-size: 26px;
}

.box-back div p{
    font-size: 16px;
    font-weight: 300;
}

.box-back button{
    padding: 10px 40px;
    border: 2px solid black;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: black;
    outline: none;
    transition: all 300ms;
}

.box-back button:hover{
    background: #ff5137;
    color: black;
}

/*Formularios*/

.container-login-signup{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.container-login-signup form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}

.container-login-signup form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #a61312;
}

.container-login-signup form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.container-login-signup form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #a61312;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}




.form-login{
    opacity: 1;
    display: block;
}
.form-signup{
    display: none;
}



@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .box-back{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .box-back div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .container-login-signup{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .container-login-signup form{
        position: relative;
    }
}