
/*NavBar*/
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#NavBar {
    background-color: #eae1c7;
    padding: 1% 10%;
}

#NavBar a {
    color: #060302;
}

#navbarNav a{
    color: #a61312;
}

.navbar-icon-lg {
    width: 5rem;
    margin-right: 3rem;
}

.navbar-icon-sm{
    display: none;
}

.navbar-brand {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    color: #a61312 !important;
}

.dropdown-menu {
  background-color: #fdf7e6;
  font-size: 1.3rem;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(166,19,18, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: #a61312;
} 

.nav-item {
    padding: 0 1.7rem;
}

.nav-link { 
    font-size: 2rem;
}


/* imagen inicio */

.imageninicio{
    display: block;
    margin:auto 0%;
    float: right;
    margin-right: 20px;
}



/* imagen inicio */
.responsive{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 10px;
  
  
  }
  
  /* linea de division */
  .lineadivision{
   background-color: #a61312;
  }
  
  
  
  
  /* botones de el principio */
  
  /* RESET RULES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  :root {
    --black: #3a3a3a;
    --white: #fff;
    --red: #a61312;
  }
  
  ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  
  /* .container {
    max-width: 1200px;
    margin: 0 auto;
  } */
  
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  h1 a {
    transition: all 0.1s;
  }
  
  h1 a:hover {
    background: var(--red);
    color: var(--white);
  }
  
  input[type="radio"] {
    position: absolute;
    left: -9999px;
  }
  
  
  /* FILTERS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .filters {
    text-align: center;
    margin: 2rem 0;
  }
  
  .filters * {
    display: inline-block;
  }
  
  .filters label {
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
    border-radius: 2rem;
    min-width: 50px;
    line-height: normal;
    cursor: pointer;
    transition: all 0.1s;
  }
  
  .filters label:hover {
    background: var(--red);
    color: var(--white);
  }
  
  
  /* FILTERED ELEMENTS (POSTS)
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .posts{
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
  }

  
  /* .posts .post {
    background: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .posts .post-title {
    font-size: 1.3rem;
  }
  
  .posts .post-title:hover {
    text-decoration: underline;
  }
  
  .posts figcaption {
    padding: 1rem;
  } */
  
  .posts .post-categories {
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
  }
  
  .posts .post-categories * {
    display: inline-block;
  }
  
  .posts .post-categories li {
    margin-bottom: 0.2rem;
  }
  
  .posts .post-categories a {
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    border: 1px solid;
    line-height: normal;
    transition: all 0.1s;
    background-color: #a61312;
    color: #fafafa;
  }
  
  .posts .post-categories a:hover {
    background: var(--white);
    color: var(--red);
  } */
  
  
  /* FILTERING RULES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  [value="All"]:checked ~ .filters [for="All"],
  [value="Health-&-wellness"]:checked ~ .filters [for="Health-&-wellness"],
  [value="Training-and-cleaning"]:checked ~ .filters [for="Training-and-cleaning"],
  [value="Home"]:checked ~ .filters [for="Home"],
  [value="Sand-and-accesories"]:checked ~ .filters [for="Sand-and-accesories"],
  [value="Transporters-and-travel"]:checked ~ .filters [for="Transporters-and-travel"],
  [value="Toys"]:checked ~ .filters [for="Toys"],
  [value="Grooming"]:checked ~ .filters [for="Grooming"] 
  [value="Dental-care"]:checked ~ .filters [for="Dental-care"],
  [value="Necklaces-leashes-and-clothes"]:checked ~ .filters [for="Necklaces-leashes-and-clothes"],
  [value="Dry-food"]:checked ~ .filters [for="Dry-food"] ,
  [value="Wet-food"]:checked ~ .filters [for="Wet-food"],
  [value="Dog"]:checked ~ .filters [for="Dog"],
  [value="Cat"]:checked ~ .filters [for="Cat"]{
    background: var(--red);
    color: var(--white);
  }
  
  [value="All"]:checked ~ .posts [data-category] {
    display: block;
  }
  
  [value="Health-&-wellness"]:checked ~ .posts .post:not([data-category~="Health-&-wellness"]),
  [value="Training-and-cleaning"]:checked ~ .posts .post:not([data-category~="Training-and-cleaning"]),
  [value="Home"]:checked ~ .posts .post:not([data-category~="Home"]),
  [value="Sand-and-accesories"]:checked ~ .posts .post:not([data-category~="Sand-and-accesories"]),
  [value="Transporters-and-travel"]:checked ~ .posts .post:not([data-category~="Transporters-and-travel"]),
  [value="Toys"]:checked ~ .posts .post:not([data-category~="Toys"]),
  [value="Grooming"]:checked ~ .posts .post:not([data-category~="Grooming"]),
  [value="Dental-care"]:checked ~ .posts .post:not([data-category~="Dental-care"]),
  [value="Necklaces-leashes-and-clothes"]:checked ~ .posts .post:not([data-category~="Necklaces-leashes-and-clothes"]),
  [value="Dry-food"]:checked ~ .posts .post:not([data-category~="Dry-food"]),
  [value="Wet-food"]:checked ~ .posts .post:not([data-category~="Wet-food"]),
  [value="Dog"]:checked ~ .posts .post:not([data-category~="Dog"]),
  [value="Cat"]:checked ~ .posts .post:not([data-category~="Cat"]) {
    display: none;
  }
  
  
  /* Style cards */
  .column {
    float: left;
    width: 20%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }

/* 
.card {
  background-color: #D89181;
  width: 400px;
  padding: 10px;
  border: 1px solid #eee;
  max-height: 400px;
  max-width: 500px;
}

.card img {
  height: 50px;
  width: auto;
}

.inner-card {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  max-height: 400px;
} */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 10px solid #D89181;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  height: 500px;
}

.card img{
  width: fit-content;
  max-height: 50%;
  min-height: 20%;
  height: auto;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card img{
  width: fit-content;
  max-height: 40%;
  min-height: 20%;
}
.shop-button{
  position:relative;
  bottom:0;
}
.card-description{
  max-height: 100px;
  overflow: auto;
}

.card button:hover {
  opacity: 0.7;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}


/* Style the counter cards */



/*/ /boton buy */
.btn{
  background-color: #a61312;
  color: #fafafa;
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button-wraper{
  margin-top: auto;
}

/* style scroll */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*-----Footer-----------*/
  #footer {    
      text-align: center ;
      padding: 1rem 0 0.1rem;
      color: black;
  }
  
  .footer-icon {
      padding: 0 0.7rem;
      color: #d56756;
  }
  
  .footer-icon:hover {
      color: #ff5137;
  }
  
  
  /*Contact Main*/
  #contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #d1a097;
  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(70%);
  }
  
  .conctact-container {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
  }
  
  .conctact-container .contactInfo {
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #fff;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15);
  }
  
  .conctact-container .contactInfo h2 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #a61312;
  }
  .conctact-container .contactInfo ul.info {
    position: relative;
    margin: 50px 0;
    margin-left: -50px;
  }
  
  .conctact-container .contactInfo ul.info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
  }
  
  .conctact-container .contactInfo ul.info li span:nth-child(2) {
    color: #333;
    font-weight: 300;
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  .conctact-container .contactInfo ul.sci {
    position: relative;
    display: flex;
  }
  .conctact-container .contactInfo ul.sci li {
    list-style: none;
  }
  
  .conctact-container .contactForm {
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #eae1c7;
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);
  }
  
  .conctact-container .contactForm h2 {
    color: #a61312;
    font-size: 24px;
    font-weight: 500;
  }
  
  .conctact-container .contactForm .formBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
  }
  
  .conctact-container .contactForm .formBox .inputBox {
    position: relative;
    margin: 0 0 35px 0;
  }
  .conctact-container .contactForm .formBox .inputBox.w50 {
    width: 47%;
  }
  
  .conctact-container .contactForm .formBox .inputBox.w100 {
    width: 100%;
  }
  
  .conctact-container .contactForm .formBox .inputBox input {
    text-align: center;
  }
  
  .conctact-container .contactForm .formBox .inputBox input,
  .conctact-container .contactForm .formBox .inputBox textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
    background-color: #eae1c7;
  }
  
  .conctact-container .contactForm .formBox .inputBox textarea {
    min-height: 120px;
  }
  
  .conctact-container .contactForm .formBox .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
  }
  
  .conctact-container .contactForm .formBox .inputBox input:focus ~ span,
  .conctact-container .contactForm .formBox .inputBox input:valid ~ span,
  .conctact-container .contactForm .formBox .inputBox textarea:focus ~ span,
  .conctact-container .contactForm .formBox .inputBox textarea:valid ~ span {
    transform: translateY(-30px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #a61312;
    font-weight: 500;
  }
  .conctact-container .contactForm .formBox .inputBox input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: #a61312;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
  }
  .conctact-container .contactForm .formBox .inputBox input[type="submit"]:hover
  {
    background: #d56756;
  }
  
  @media (max-width: 1200px) {
    .conctact-container {
      max-width: 90%;
      min-width: auto;
      margin: 20px;
      box-shadow: 0 20px 50px rgba(0,0,0,0.2);
    }
  
    .conctact-container .contactInfo {
      position: relative;
      top: 0;
      height: 550px;
      box-shadow: none;
    }
  
    .conctact-container .contactForm {
      position: relative;
      width: calc(100% - 350px);
      height: 550px;
      padding-left: 0;
      margin-left: 0;
      padding: 40px;
      box-shadow: none;
    }
  }
  
  @media (max-width: 991px) {
    .conctact-container {
      display: flex;
      flex-direction: column-reverse;
    }
  
    .conctact-container .contactInfo {
      width: 100%;
      height: auto;
      flex-direction: row;
    }
    .conctact-container .contactInfo ul.sci {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .conctact-container .contactForm {
      width: 100%;
    }
  }
  
  @media (max-width: 600px)
  {
    .conctact-container .contactForm {
      height: auto;
      padding: 25px;
    }
  
    .conctact-container .contactForm .formBox .inputBox.w50 {
      width: 100%;
    }
    .conctact-container .contactInfo {
      flex-direction: column;
      align-items: flex-start;
      padding: 25px;
    }
    .conctact-container .contactInfo ul.sci {
      margin-top: 40px;
    }
  }
  
  @media only screen and (max-width: 560px) {
      .btn-carousel {
          display: none;
      }
  }
  
  @media only screen and (max-width: 1600px ) and (min-width:990px) {
      .nav-link { 
          font-size: 1.5vw;
      }
  }
  
  @media only screen and (max-width: 991px){
      .navbar-icon-lg {
          display: none;
      }
  
      .dropdown-menu {
        background-color: #eae1c7;
        border-style: none;
      }
  
      .navbar-icon-sm {
          display: block;
          width: 5rem;
          margin-right: 3%;
      }
  }
  
  @media only screen and (max-width: 400px ) {
      .burger{
          text-align: center;
          min-width: 100%;
      }
      #NavBar {
          display: flex;
          justify-content:center ;
          align-items: center;
      }
      #main-carousel h1 {
          font-size: 2.3rem;
          font-weight: 900;
      }
  }
  



































