/********************* Ingreso de nuevos Objetos **********************/

.contenedor {
    width: 90%;
    margin: 0 auto;
  }
  
  @media (min-width: 768px) {
      .campo{
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 10px;
      }
  }
  
  .campo{
    
    margin-bottom: 15px;
  }
  
  .main-objetos .titulo {
    color: #a61312;
    /* color: white; */
    font-size: 28px;
    font-weight: 900;
    text-align: center;
  }
  
  @media (min-width: 768px) {
      .botones {
        display: flex;
        justify-content: space-between;
      }
      .botones button{
        flex-basis: 150px;
      }
  }
  
  .botones button {
    position: relative;
    cursor: pointer;
    background: #a61312;
    color: #fff;
    border: none;
    padding: 12px;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .botones button:hover {
    background-color: #d56756;
    transition: background-color ease 1s;
  }
  
  .main-objetos{
    background-image: url("https://estaticos.muyinteresante.es/uploads/images/article/5e53ccda5cafe849c002505d/mascotas.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @media (min-width: 768px) {
      .main-objetos{
        height: 800px;
      }
  }
  
  .contenido-formulario{
    /*background-color: rgba(213, 103, 86, 0.25); */
    background-color: rgba(0, 0, 0, 0.7);
    width: 60%;
    padding: 25px;
    border: 2px black solid;
    border-radius: 10px;
    
  }
  
  .formulario .campo label{
    color: white;
  }
  
  @media (min-width: 768px) {
    .checkbox {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 10px;
    }
  
    .checkbox .campo {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  
    .checkbox .campo {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
  @media (min-width: 768px) {
      .gato-perro{
        display: flex;
        justify-content: space-around;
        align-items: center;
      } 
  
    }
    .gato-perro .campo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 5px;
      
    }
  
    .gato-perro {
      border-top: 2px solid #fff;
    }
  
    .checkbox input[type=checkbox]{
      transform: scale(1.5);
    }
  
    .gato-perro input[type=radio]{
      transform: scale(2);
    }