/*NavBar*/
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


a {
  color: #fff;
  text-decoration: none; /* no underline */
}

body,html{
  height: 100%;
}

.row-about{
  --bs-gutter-x: 0 !important;
}

/*holaaaaa*/

#NavBar {
    background-color: #eae1c7;
    padding: 1% 10%;
}

#NavBar a {
    color: #060302;
}

#navbarNav a{
    color: #a61312;
}

.navbar-icon-lg {
    width: 5rem;
    margin-right: 3rem;
}

.navbar-icon-sm{
    display: none;
}

.navbar-brand {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    color: #a61312 !important;
}

.dropdown-menu {
  background-color: #fdf7e6;
  font-size: 1.3rem;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(166,19,18, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: #a61312;
} 

.nav-item {
    padding: 0 1.7rem;
}

.nav-link { 
    font-size: 2rem;
}

/*Carousel*/
#main-carousel .carousel-inner img {
    max-height: 50vh;
    object-fit: cover;
    filter: grayscale(50%);
}

#carousel {
    position: relative;
}

#carousel .overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding-top: 5%;
    display: flex;
    align-items:  center;
}


/*Main Content*/
#main-carousel h1 {
    font-size: 3rem;
    font-weight: 900;
}

#main-carousel p {
    font-size: 2rem;
    font-weight: lighter;
}

.btn-carousel{
    margin: 2% 3% 5% 0;
}

/*Features*/
#features{
    padding: 1% 10%;    
    background-color: #fdf7e6;
}

#features h3{
    font-weight: 900;
}

#features h2{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
#features p{
    color: #8f8f8f;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.feature-icon{
    color: #d56756;
    margin-bottom: 1rem;
}

.feature-icon:hover{
    color: #ff5137;
}

/*Services*/
.gallery{
    background-color: #8f8f8f;

}

.gallery-item {
    width: 60%;
    height: 60%;
    object-fit: cover;

}
/*Pet Shop*/

/*Location*/
#place-time h1{
    margin-top: 5%;
    color: #a61312;
    font-weight: 900;
}

.center-icon {
  background-color: #a61312;
  border-radius: 10px;
  height: 100px;
  width: 200px;
  border: 3px solid black;
}

.center-icon span {
  font-size: 0.9rem;
}

#place-time p{
    font-weight: 500;
}

.map{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-location p{ 
    font-size: 10%;
}

.hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hour-center{
    text-align: justify;
}

#place-time {
    background-color: #eae1c7;
    color: black;
}

#place-time img {
    max-width: 100%;
}

.center-icon{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
}
.center-buttons{
    display: flex;
    justify-content:center ;
    align-items: center;
    
}

.center-buttons div button{
    min-height: 86px;
}

.center-buttons div{
    display: flex;
    justify-content:center ;
    align-items: center;
}

/*Footer*/
#footer {    
    text-align: center ;
    padding: 1rem 0 0.1rem;
    color: black;
    background-color: #fff;
    width: 100%;
    height: 5rem;
    bottom: 0;
}

#footer2{
  text-align: center ;
  padding: 1rem 0 0.1rem;
  color: black;
  background-color: #fff;
  width: 100%;
  bottom: 0;
  position: static;
}


@media (max-width: 1100px) {
  #footer2{
    position: relative;
  }
  }

  .icons-container{
    position: relative;
    left: 5%;
  } 
.footer-icon {
    padding: 0 0.7rem;
    color: #d56756;
}

.footer-icon:hover {
    color: #ff5137;
}

.iconadmin{
  color: #d56756;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.iconadmin:hover{
  color: #ff5137;
}

/*Contact Main*/
#contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: #d1a097;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(70%);
}

.conctact-container {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  z-index: 1000;
}

.conctact-container .contactInfo {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background: #fff;
  z-index: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 25px rgba(0,0,0,0.15);
}

.conctact-container .contactInfo h2 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #a61312;
}
.conctact-container .contactInfo ul.info {
  position: relative;
  margin: 50px 0;
  margin-left: -50px;
}

.conctact-container .contactInfo ul.info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: flex-start;
}

.cnt-font {
  font-weight: bold;
  font-size: 0.9rem;
}

.conctact-container .contactInfo ul.sci {
  position: relative;
  display: flex;
}

.conctact-container .contactInfo ul.sci li {
  list-style: none;
}

.conctact-container .contactForm {
  position: absolute;
  padding: 70px 50px;
  padding-left: 250px;
  margin-left: 150px;
  width: calc(100% - 150px);
  height: 100%;
  background: #eae1c7;
  box-shadow: 0 50px 50px rgba(0,0,0,0.25);
}

.conctact-container .contactForm h2 {
  color: #a61312;
  font-size: 24px;
  font-weight: 500;
}

.btn-cnt{
  display: flex;
  justify-content:center ;
  align-items: center;
}

.btn-contact {
  color: #fff;
  background-color: #a61312;
}
.btn-contact span{
  font-weight: lighter;
}

.conctact-container .contactForm .formBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

.conctact-container .contactForm .formBox .inputBox {
  position: relative;
  margin: 0 0 35px 0;
}
.conctact-container .contactForm .formBox .inputBox.w50 {
  width: 47%;
}

.conctact-container .contactForm .formBox .inputBox.w100 {
  width: 100%;
}

.conctact-container .contactForm .formBox .inputBox input {
  text-align: center;
}

.conctact-container .contactForm .formBox .inputBox input,
.conctact-container .contactForm .formBox .inputBox textarea {
  width: 100%;
  resize: none;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  outline: none;
  border-bottom: 1px solid #777;
  background-color: #eae1c7;
}

.conctact-container .contactForm .formBox .inputBox textarea {
  min-height: 120px;
}

.conctact-container .contactForm .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  font-size: 18px;
  font-weight: 300;
  transition: 0.3s;
}

.conctact-container .contactForm .formBox .inputBox input:focus ~ span,
.conctact-container .contactForm .formBox .inputBox input:valid ~ span,
.conctact-container .contactForm .formBox .inputBox textarea:focus ~ span,
.conctact-container .contactForm .formBox .inputBox textarea:valid ~ span {
  transform: translateY(-30px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #a61312;
  font-weight: 500;
}
.conctact-container .contactForm .formBox .inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: #a61312;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
}
.conctact-container .contactForm .formBox .inputBox input[type="submit"]:hover
{
  background: #d56756;
}

/*Contact MediaQuery*/
@media (max-width: 1400px) {
  #iconadmin{
    position: relative;
    left: 35%;
  }
  }
@media (max-width: 930px) {
  #iconadmin{
    position: relative;
    left: 30%;
  }
  }
@media (max-width: 690px) {
  #iconadmin{
    position: relative;
    left: 20%;
  }
  }
@media (max-width: 450px) {
  #iconadmin{
    position: relative;
    left: 5%;
  }
  }
@media (max-width: 1200px) {
  .conctact-container {
    max-width: 90%;
    min-width: auto;
    margin: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.2);
  }

  .conctact-container .contactInfo {
    position: relative;
    top: 0;
    height: 550px;
    box-shadow: none;
  }

  .conctact-container .contactForm {
    position: relative;
    width: calc(100% - 350px);
    height: 550px;
    padding-left: 0;
    margin-left: 0;
    padding: 40px;
    box-shadow: none;
  }
}

@media (max-width: 991px) {
  .conctact-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .conctact-container .contactInfo {
    width: 100%;
    height: auto;
    flex-direction: row;
  }
  .conctact-container .contactInfo ul.sci {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .conctact-container .contactForm {
    width: 100%;
  }
}

@media (max-width: 600px)
{
  .conctact-container .contactForm {
    height: auto;
    padding: 25px;
  }

  .conctact-container .contactForm .formBox .inputBox.w50 {
    width: 100%;
  }
  .conctact-container .contactInfo {
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
  }
  .conctact-container .contactInfo ul.sci {
    margin-top: 40px;
  }
}

/*Nav MediaQuery*/
@media only screen and (max-width: 1000px) {
    .btn-carousel {
        display: none;
    }
}

@media only screen and (max-width: 1600px ) and (min-width:990px) {
    .nav-link { 
        font-size: 1.1vw;
    }
}

@media only screen and (max-width: 1300px){
    .navbar-icon-lg {
        display: none;
    }

    .dropdown-menu {
      background-color: #eae1c7;
      border-style: none;
    }

    .navbar-icon-sm {
        display: block;
        width: 5rem;
        margin-right: 1rem;
    }
}

@media only screen and (max-width: 420px ) {
    .burger{
        text-align: center;
        min-width: 100%;
    }
    #NavBar {
        display: flex;
        justify-content:center ;
        align-items: center;
        text-align: center;
    }
    .nav-resp {
      display: flex;
      justify-content:center ;
      align-items: center;
      text-align: center;
    }
    .navbar-brand {
      padding: 0;
      margin: 0;
    }
    #main-carousel h1 {
        font-size: 2rem;
        font-weight: 900;
    }
}

/*About US*/
#meetus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fdf7e6;
}

#ourteam {
  background-color: #fdf7e6;
  padding: 2rem 0;
}

#ourteam h1{
  margin: 0;
  font-family: 'Luckiest Guy', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  color: #a61312 !important;
  text-align: center;
  letter-spacing: 0.4rem;
}

.right-about_button{
  padding-top: 15px;
  font-weight: bold;
}

.right-about_button span{
  font-weight: bold;
}

.meet {
  position: relative;
  width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards {
  position: relative;
  width: 300px;
  min-height: 400px;
  overflow: hidden;
  margin: 10px;
  background: #333;
  background: linear-gradient(#a61312 0%, #a61312 30%, #eae1c7 30%, #eae1c7 100%);
  border-radius: 10px;
}

.cards .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 10;
  border-radius: 10px;
  overflow: hidden;
  transform-origin: top;

}

.cards:hover .imgBx {
  transform: translateY(30px) scale(0.5);
}

.cards .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

.cards .content {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: 0.5s;
  padding-bottom: 30px;
  transform: translateY(100%);
}

.cards:hover .content {
  transform: translateY(0);
}

.cards .content .details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.video-meet {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: -5%;
}

.cover-meet {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(255, 255, 255, 1);  
  backdrop-filter: blur(2px);
  top: -5%;
}


.cards .content .details h2 {
  color: #ffffffe8;
  line-height: 1.8rem;
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.title-about{
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  background-color: #a61312;
}

.cards .content .details h2 span {
  font-size: 0.8em;
  font-weight: 600;
  color: #fff;
  background-color: #a61312;
}

.sci {
  position: relative;
  display: flex;
  margin-top: 5px;
  align-items: center;
  padding: 0;
}

.sci li {
  list-style: none;
  margin: 4px;
}

.sci li a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center !important;
  align-items: center;
  background: #a61312;
  font-size: 1.5em;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

.sci li a:hover {
  background: #d56756;
  transform: rotate(360deg);
}

.text-about {
  background: #ce6757;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-about p{
  justify-content:center;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

.bold-about {
  color: #fff;
  padding: 1rem;
}

.container-aboutus {
  background-color: #fdf7e6;
}
.right-about {
  background: #682c2138;
  padding: 2rem;
  font-weight: 700;
}

.right-about p{
  margin: 0;
  font-weight: lighter;
}

.about-row {
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
}

@media only screen and (max-width: 960px ) {
  .meet {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media only screen and (max-width: 1000px ) {
  .right-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
}


/*================    MODAL PERRO Y GATO      ===========*/

/*Formularios*/

.formulary-label{
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #a61312;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  margin-bottom: 2em;
}

input::placeholder{
  text-align: center;
}

.SubmitButton{
  width: 50%;
  padding: 7px;

}

.textboxGrooming{
  outline: none;
  width: 80%;
  max-height: 200px;
}

.row1{
  display: flex;
  align-items: center;
  justify-content: center;
}


/*MODAL PERRO Y GATO*/

.modalDog{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-200vh);
  --transition: transform .8s;
  z-index: 1000;
  overflow: scroll;
  overflow-x: hidden;
}

.modalCat{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-200vh);
  --transition: transform .8s;
  z-index: 1000;
  overflow: scroll;
  overflow-x: hidden;
}

.modal__container{
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 200%;
  background-color: #fff;
  border-radius: 6px;
  padding: 1em 1em 3em 1em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition:var(--transition);
  margin-top: 1em;
}

.modalDog--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.modalCat--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}


.modal__title{
  font-size: 3rem;
  margin-bottom: 0px;
}

.modal__paragraph{
  margin-bottom: 0px;
  margin-top: 50px;
}

.modalDog__close{
  text-decoration: none;
  color: #fff;
  background-color: #F26250;
  padding: 0.5em 1em;
  border: 1px solid ;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color .3s;
  margin-left: 90%;
 
}
.modalCat__close{
  text-decoration: none;
  color: #fff;
  background-color: #F26250;
  padding: 0.5em 1em;
  border: 1px solid ;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color .3s;
  margin-left: 90%;
 
}
.modalDog__close:hover{
  color: #F26250;
  background-color: #fff;
}
.modalCat__close:hover{
  color: #F26250;
  background-color: #fff;
}

.iconGrooming{
    font-size: 4rem;
    margin-bottom: 1rem;
}

.SubmitButton{
  position: relative;
  cursor: pointer;
  background: #a61312;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
}
.SubmitButton:hover{
  background: #d56756;
}

.textboxGrooming{
  outline: none;
  width: 80%;
  max-height: 200px;
}

.modal__paragraph{
  margin-top: 0;
}

/*Services*/
#TellUs { 
  text-align: center;
  font-size: 4rem;
  padding-top: 2rem;
  font-family: 'Luckiest Guy', cursive;
  color: #a61312;
}

#icon-services {
  font-size: 300px;
  color: #a61312;
  background-color: #eae1c7;
  border-radius: 50%;
  cursor: pointer;
  width: 20rem;
  height: 20rem;
  position: relative;
}

#icon-services:hover {
  color: #000;
  background-color: #d56756;
}

.services-container {
  position: relative;
}

.video-container-services {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(70%);
}

.services-container_pet {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15% 0;
}

@media only screen and (max-width: 1000px ) {
  .services-container_pet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 0;
  }
  .dog-container {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 450px ) {
  #TellUs { 
    font-size: 3rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  #icon-services {
    font-size: 100px;
    width: 7rem;
    height: 7rem;
  }

  .dog-container {
    margin-bottom: 2rem;
  }
  
}

/********************* Ingreso de nuevos Objetos **********************/

.contenedor {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
    .campo{
      display: grid;
      grid-template-columns: 1fr 3fr;
      column-gap: 10px;
    }
}

.campo{
  
  margin-bottom: 15px;
}

.main .titulo {
  color: #a61312;
  /* color: white; */
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 768px) {
    .botones {
      display: flex;
      justify-content: space-between;
    }
    .botones button{
      flex-basis: 150px;
    }
}

.botones button {
  position: relative;
  cursor: pointer;
  background: #a61312;
  color: #fff;
  border: none;
  padding: 12px;
  width: 100%;
  margin-bottom: 15px;
}

.main{
  background-image: url("https://estaticos.muyinteresante.es/uploads/images/article/5e53ccda5cafe849c002505d/mascotas.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
    .main{
      height: 800px;
    }
}

.contenido-formulario{
  /*background-color: rgba(213, 103, 86, 0.25); */
  background-color: rgba(0, 0, 0, 0.7);
  width: 60%;
  padding: 25px;
  border: 2px black solid;
  border-radius: 10px;
  
}

.formulario .campo label{
  color: white;
}

@media (min-width: 768px) {
  .checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
  }

  .checkbox .campo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

  .checkbox .campo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

@media (min-width: 768px) {
    .gato-perro{
      display: flex;
      justify-content: space-around;
      align-items: center;
    } 

  }
  .gato-perro .campo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    
  }

  .gato-perro input[type="radio"]{
    display: block;
  }

  .gato-perro {
    border-top: 2px solid #fff;
  }
  .checkbox input[type=checkbox]{
     
    transform: scale(1.5);
  }

  .gato-perro input[type=radio]{
    display: block;
    transform: scale(2);
  }


/********************* Ingreso de nuevos Objetos **********************/

/* LOGIN */

::selection{
  background:#ff5137;
  color: #fff;
}
.singForm{
  
  align-content: center;
  margin-top: 0%;
  overflow: hidden;
  max-height: min-content;
  max-width:max-content;
  background: #fff;
  padding: 30px;  
 
}
.singForm .title-text{
  display: flex;
  width: 200%;

}
.singForm .title{
  width: 50%;
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
#key{
  margin: auto 28%;
}
.icon{
  
  font-size: 25px;
  min-width: 50px;
  text-align: center;
  padding: 0 0.7rem;
  color: #ff5137;
}
.singForm .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 5px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #eae1c7, #ff5137);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.singForm .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  display: flex;
  margin-top: 25px;
  align-items: center;
}


.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}

.form-inner form .field input::placeholder{
  color: #ff5137;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #b3b3b3;
}
.form-inner form .pass-link{
  margin-top: 5px;
  text-align: center;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: #a61312;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #eae1c7, #ff5137, #eae1c7, #ff5137);
  border-radius: 5px;
}
form .btn:hover .btn-layer{
  left: 0;
}
form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
/*   LOGIN     */
